@use 'variables' as v;
@use 'breakpoints' as bp;

// abstracts/_mixins.scss
@use 'theme-map' as *;

// @mixin themeify {
//   @each $theme-name, $theme-map in $themes {
//     [data-theme="#{$theme-name}"] & {
//       $theme-map: $theme-map !global;
//       @content;
//     }
//   }
// }
// @function themed($key) {
//   @return map-get($theme-map, $key);
// }


@mixin truncate($lines: 1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

@mixin container-padding {
  padding-left: v.$space-4;
  padding-right: v.$space-4;
}


