// Design tokens
// $color-brand: #2563EB;
// $color-brand-transparent: rgba(37, 99, 235, 0.1);
// $color-background:#fff;
// $color-text-primary: #0F172A;
// $color-text-secondary: #64748B;

// $shadow-brand: 0 2px 25px rgba(37, 99, 235, 0.15);

$radius-max: 999px;
$radius-large: 10px;
$radius-small: 5px;

$space-0: 0;
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-6: 24px;
$space-8: 32px;

$container-max: 1140px;

