@use '../abstracts/variables' as v;
@use '../abstracts/breakpoints' as bp;
@use '../abstracts/mixins' as m;

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-background-page);
  @include m.container-padding;
  @include bp.up(bp.$bp-xl) { max-width: v.$container-max; }
}

